In [2]:
# Importar la librería principal para análisis de datos
import pandas as pd

# 1. Cargar los datos
ruta_archivo = '../datos/raw_data.csv' 

# Leer el archivo
df = pd.read_csv(ruta_archivo)

# 2. Darle un primer vistazo a las primeras 5 filas
print("Primeras 5 filas del dataset:")
display(df.head())

# 3. Ver la información general (filas, columnas, tipos de datos y valores nulos)
print("\nInformación general del dataset:")
df.info()

Primeras 5 filas del dataset:

,interval_start,equipment_ID,alarm,type,start,end,elapsed,pi,po,speed
0,2020-01-01 11:21:28.907000+00:00,s_1,A_000,scheduled_downtime,1.577878e+09,1.577878e+09,63050,59916598,59517799,0
1,2020-01-01 11:22:31.957000+00:00,s_1,A_000,idle,1.577878e+09,1.577878e+09,30840,59916598,59517799,0
2,2020-01-01 11:23:02.797000+00:00,s_1,A_000,scheduled_downtime,1.577878e+09,1.577879e+09,1410671,59916598,59517799,0
3,2020-01-01 11:46:33.468000+00:00,s_1,A_000,idle,1.577879e+09,1.577881e+09,1524520,59916598,59517799,0
4,2020-01-01 12:11:57.988000+00:00,s_1,A_000,scheduled_downtime,1.577881e+09,1.577884e+09,2831270,59916598,59517799,0

Información general del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429394 entries, 0 to 429393
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   interval_start  429394 non-null  object
 1   equipment_ID    429394 non-null  object
 2   alarm           429394 non-null  object
 3   type            429394 non-null  object
 4   start           429394 non-null  float64
 5   end             429394 non-null  float64
 6   elapsed         429394 non-null  int64
 7   pi              429394 non-null  int64
 8   po              429394 non-null  int64
 9   speed           429394 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 32.8+ MB